@model List<string>

<h1>
    AWS S3 Files
</h1>
<p>
    <a asp-controller="AwsFile" asp-action="UploadFile" class="btn btn-primary">Upload File</a>
</p>

<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>

@if (Model != null && Model.Count > 0)
{
    @foreach (string fileName in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="https://bucket-core-arp.s3.us-east-1.amazonaws.com/@fileName" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@fileName</h5>
                <a asp-controller="AwsFile"
                   asp-action="DeleteFile"
                   asp-route-filename="@fileName"
                   class="btn btn-delete">Delete</a>
            </div>
        </div>
    }

}
else
{
    <p>No files found in the S3 bucket.</p>
}